{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm mt-4">
            <div class="card-header bg-white">
                <h4 class="mb-0">{{ title }}</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success mt-3" type="submit">Save Batch</button>
                    <a href="{% url 'batch_list' %}" class="btn btn-secondary mt-3 ms-2">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}